// Text
$primary-text-colour: #313233;

// Colours
// Violet
$primary-colour: #6435C9;
$primary-colour-hover: #5829bb;
$primary-colour-active: #5626bf;
// light grey
$secondary-colour: #e4e4e5;
// white
$background-colour: #ffffff;
