@import '../../../index.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  border: 1px solid $secondary-colour;
  border-radius: 5px;
  width: 240px;
  max-width: 240px;

  & > * {
    margin: 0px 10px 10px 10px;
  }

  & .bp3-popover-target {
    width: 100%;
  }

  & h4:first-child {
    margin-top: 20px;
  }
}

