$colourText: #4a4a4a;
$colourGrey: #aaaaaa;         // Haadings
$colourAltGrey: #d4d4d5;      // Borders, etc
$colourViolet: #6435c9;       // Primary app colour
$colourVioletHover: #5829bb; 
$colourVioletActive: #5626bf;
$colourBlue: #3570c9;

body {
  color: $colourText;
}

h1 {
  padding: 30px;
  margin-bottom: 0.14285714rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $colourGrey;
  letter-spacing: 0.05em;
}

h2 {
  padding: 10px;
  margin-bottom: 0.14285714rem;
  font-weight: 800;
  color: $colourGrey;
  letter-spacing: 0.05em;
}

h3 {
  padding: 0;
  margin-bottom: 0.14285714rem;
  font-size: 0.85714286em;
  font-weight: 700;
  text-transform: uppercase;
  color: $colourGrey;
  letter-spacing: 0.05em;
}

p {
  line-height: 1.5;

  &.center {
    text-align: center;
  }

  &.padding {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &.grey {
    color: $colourGrey;
  }
}

.sb-header { // Page headers such as for the Spell and Character pages
  width: 100%;
}

.sb-center-text {
  text-align: center;
}

.sb-center-h {
  justify-content: center;
}

.sb-center-v {
  align-items: center;
}

.main {
  display: flex;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sb-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  &.sb-celled-internally > .sb-row {
    box-shadow: 0 -1px 0 0 $colourAltGrey;
  }

  &.sb-celled-internally > .sb-row > .sb-col {
    box-shadow: -1px 0 0 0 $colourAltGrey;
  }

  & > .sb-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: inherit;
    box-sizing: border-box;
    width: 100% !important;
    box-sizing: inherit;
    box-shadow: inherit;
    align-self: inherit;
    margin: 0;
    padding: 0;

    &:first-child {
      box-shadow: none;
    }

    & > .sb-col {
      position: relative;
      display: inline-block;
      box-sizing: inherit;
      box-shadow: inherit;
      margin: 0;
      padding: 1em;
      align-self: inherit;

      &:first-child {
        box-shadow: none;
      }

      &:first-child:nth-last-child(1),
      &:first-child:nth-last-child(1) ~ div {
        width: 100%;
      }

      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ div {
        width: 50%;
      }
    }
  }
}

.sb-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .sb-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

.sb-navbar {
  background-color: $colourViolet;
  color: #FFFFFF;

  .sb-navbar_group {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.sb-breadcrumbs {
  margin-bottom: 15px;

  & ul::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    margin-right: 10px;
    background: $colourViolet;
  }
}

//
// Signin components
//
.sb-signin-image {
  margin-right: 40px;
}

.sb-signin-form {
  padding-left: 20px;
  border-left: 1px #bcbec0 solid;
}

.sb-signin-image-appear {
  opacity: 0;
}

.sb-signin-image-appear.sb-signin-image-appear-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}

//
// Character components
//
.sb-character {
  flex-grow: 1;
  margin-left: 5%;
  margin-right: 5%;
}
.sb-character-card {
}

//
// Cards used for spells, characters, and items
//
.sb-card-group {
  flex-flow: row wrap;
  width: 100%;

  .sb-card {
    margin: 0px 5px 5px 5px;
    width: 250px;
    max-width: 250px;

    & > .sb-card_heading {
      display: inline;
    }

    & > .sb-card_meta {
      padding-left: 23px;
    }

    & > .sb-card_icon {
      padding-right: 5px;
      color: '#2ab5ab';
    }
  }
}

//
// Sidbar for filters and context menu
//
.sb-sidebar {
  display: flex;
  flex-direction: column;
  border: 1px solid $colourAltGrey;
  border-radius: 5px;
  width: 260px;
  max-width: 260px;

  & > * {
    margin: 0px 10px 10px 10px;
  }

  & .bp3-popover-target {
    width: 100%;
  }

  & h4:first-child {
    margin-top: 20px;
  }
}

.sb-character-popover-add {
  &_form {
    margin: 5px;
  }
  &_input {
    margin-bottom: 5px;
  }
  &_button {
    float: right;
    margin-bottom: 5px;
  }
}

.sb-icon {
  color: $colourText;

  &--circle {
    background-color: white;
    border-radius: 50%;
    border: 6px solid $colourAltGrey;
    padding: 20px;
    margin: 10px;
  }
}
